initial_cycle: 1
initial_player_balance: 1
initial_stocks_price: 1
initial_theta: 1
users:
  - {type: "admin", name: "root", login: "", password: ""}
  - {type: "player", name: "PlayerCorp1", login: "", password: ""}
  - { ... }
markets:
  - {id: 0, name: "", ring: 2, link1: 1, link2: 2, link3: 3, link4: null, link5: null}
  - {id: 1, name: "", ring: 2, link1: 0, link2: 2, link3: 3, link4: null, link5: null}
  - {id: 2, name: "", ring: 2, link1: 0, link2: 1, link3: 3, link4: null, link5: null}
  - {id: 3, name: "", ring: 2, link1: 0, link2: 1, link3: 2, link4: null, link5: null}
  - { ... }
initial_market_prices:
  - {market_id: 0, buy: 0.0, sell: 0.0}
  - {market_id: 1, buy: 0.0, sell: 0.0}
  - {market_id: 2, buy: 0.0, sell: 0.0}
  - {market_id: 3, buy: 0.0, sell: 0.0}
  - { ... }
cycle_params:
  alpha: 1.0
  alpha_multiplier: 1.0
  beta: 1.0
  gamma: 1.0
  tau_sec: 0
  demand:
    ring2: [...]
    ring1: [...]
    ring0: [...]
